@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(0, 13, 9, 1) 66%,
    rgba(0, 57, 39, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
